body {
    text-align: center;
    height: 100vh;
    margin: 0;
}

#board {
    background-image: url("./doodlejumpbg.png");
    height: -webkit-fill-available;
    aspect-ratio: 360/576;
    margin: 1em;
}