body {
    text-align: center;
    height: 100vh;
    margin: 0;
    background-color: antiquewhite;
}

#board {
    background-image: url("assets/doodlejumpbg.png");
    height: -webkit-fill-available;
    aspect-ratio: 360/576;
    margin: 1em;
    outline: groove tan 0.2em;
}

@media print {
    .noPrint{
        display: none;
    }
}